*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body{
  width: 100%;
  height: 100%;
}

#pIcon{
  border-radius: 50%;
}

#pIconM{
  width: 150px;
  /* margin-right: 10px; */
}
